<a href='{{ .Site.BaseURL }}'><img id="logo" src="{{ .Site.BaseURL }}images/Logo-AM-Black.png" /></a>

<a href="javascript:void(0);" class="icon" onclick="myFunction()">
  <i class="fa fa-bars"></i>
</a>

<nav class="main-nav" id="myTopnav">

  <a href='{{ .Site.BaseURL }}about'>{{ with .Site.Params.about }}{{ . }}{{ else }}About{{ end }}</a>
  <a href='{{ .Site.BaseURL }}now'>{{ with .Site.Params.now }}{{ . }}{{ else }}Now{{ end }}</a>

  <a href='https://youtube.com/andresmax' target="_blank">{{ with .Site.Params.youtube }}{{ . }}{{ else }}Youtube{{ end }}</a>

  <a href='{{ .Site.BaseURL }}contact'>{{ with .Site.Params.contact }}{{ . }}{{ else }}Contact{{ end }}</a>

  {{ range $key, $val := .Site.Params.Links }}
  <a href="{{ $val }}">{{ $key }}</a>
  {{ end }}
</nav>

<div class="main-cta">
  <a href="#" class="cta fright">Let's chat</a>
</div>


<script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "main-nav") {
      x.className += " responsive";
    } else {
      x.className = "main-nav";
    }
  }
</script>
