<ul id="post-list">
  {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
  {{ $url := replace .Permalink .Site.BaseURL "" }}
  {{ if ne $url "about/" }}
  <li>

    {{ if .Params.image }}
    <img class="post-list-image-preview" src="{{ .Params.image }}" alt="{{ $.Title }}">
    {{ end }}
    <aside class="dates">{{ .Date.Format "Jan 2" }}</aside>
    <a href='{{ .Permalink }}'>
      {{ .Title }}
      {{ if .Site.Params.enableSummary }}
      {{ if .Site.Params.useDescriptionReplaceSummary }}
      <h2>{{ .Description | plainify }}</h2>
      {{ else }}
      <h2>{{ .Summary | plainify | htmlUnescape }}</h2>
      {{ end }}
      {{ end }}
    </a>
    <span class="separator"></span>
  </li>
  {{ end }}
  {{ end }}
</ul>