<!-- Begin Mailchimp Signup Form -->

<div id="mc_embed_signup">
<form action="https://ideaware.us2.list-manage.com/subscribe/post?u=189d4840912da70e187111ca7&amp;id=026e9266f9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="m-2 flex justify-center validate" target="_blank" novalidate>
  <div id="mc_embed_signup_scroll">
	<input type="email" value="" name="EMAIL" class="p-3 w-60 sm:w-80 md:w-80 sm:w-72 mr-2 text-sm focus:ring-2 focus:ring-blue-600 rounded-sm" id="mce-EMAIL" placeholder="your@email.com" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_189d4840912da70e187111ca7_026e9266f9" tabindex="-1" value=""></div>
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="font-medium cursor-pointer p-3 text-white text-sm bg-red-500 rounded-sm hover:bg-red-700">
    </div>

</form>
</div>

<!--End mc_embed_signup-->
