/* Tailwind base - put variables under: tailwind.config.js */
@import "./node_modules/tailwindcss/base";
/* Tailwind component classes registered by plugins*/
@import "./node_modules/tailwindcss/components";
/* Site Specific */
@import "assets/css/site";
/* Tailwind's utility classes - generated based on config file */
@import "./node_modules/tailwindcss/utilities";

body {
  /* -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-image: url('/images/bg.png');
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: bottom right;
  background-attachment: fixed; */
}

.prose-red a:hover {
   @apply bg-red-50 rounded-sm;
}

.prose-black a:hover {
   @apply bg-gray-100 rounded-sm;
   text-decoration: none;
}

#mc_embed_signup{
  @apply bg-gray-100 rounded-sm mt-16 p-6;
}
